/* spacing */
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 8px;
$spacing-4: 12px;
$spacing-5: 16px;
$spacing-6: 24px;
$spacing-7: 32px;
$spacing-8: 40px;
$spacing-9: 48px;
$spacing-10: 64px;

/* radius */
$radius-1: 2px; //checkboxes
$radius-2: 4px; //icon boxes
$radius-3: 8px; //buttons, background backdrop, inputs
$radius-4: 16px; //cards