@charset "UTF-8";
/* KR */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
body {
  min-height: 100dvh; /* 모바일 환경 고려 */
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dt, dd, img, button, input, select {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:focus, a:hover,
button:active, button:focus, button:hover {
  text-decoration: unset;
  outline: unset;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}

button {
  all: unset;
  cursor: pointer;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

/* iOS 탭 하이라이트 제거 */
a, button {
  -webkit-tap-highlight-color: transparent;
}

/* Main colors */
/* slate */
/* orange */
/* teal */
/* indigo */
/* purple */
/* rose */
/* Neutral colors */
/* gray */
/* gray-alpha */
/* Semantic colors */
/* red */
/* red-alpha */
/* green */
/* green-alpha */
/* yellow */
/* yellow-alpha */
/* role */
/* spacing */
/* radius */
.btn, .btn-type06, .btn-type05, .btn-type04, .btn-type03, .btn-type02, .btn-type01 {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #020618;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.btn:hover, .btn-type06:hover, .btn-type05:hover, .btn-type04:hover, .btn-type03:hover, .btn-type02:hover, .btn-type01:hover {
  cursor: pointer;
}
.btn-type01 {
  background-color: #FFB86A;
}
.btn-type01:hover {
  background-color: #FFD6A7;
}
.btn-type02 {
  color: #F8FAFC;
  background-color: #45556C;
}
.btn-type02:hover {
  background-color: #62748E;
}
.btn-type03 {
  color: #F8FAFC;
  border: 1px solid #F8FAFC;
  background-color: unset;
}
.btn-type03:hover {
  border-color: #1D293D;
  background-color: #1D293D;
}
.btn-type04 {
  background-color: #00C950;
}
.btn-type04:hover {
  background-color: #05DF72;
}
.btn-type05 {
  background-color: #FB2C36;
}
.btn-type05:hover {
  background-color: #FF6467;
}
.btn-type06 {
  background-color: #F0B100;
}
.btn-type06:hover {
  background-color: #FDC700;
}
.btn:disabled, .btn-type01:disabled, .btn-type02:disabled, .btn-type03:disabled, .btn-type04:disabled, .btn-type05:disabled, .btn-type06:disabled {
  color: #62748E;
  background-color: #314158;
}
.btn:disabled:hover, .btn-type01:disabled:hover, .btn-type02:disabled:hover, .btn-type03:disabled:hover, .btn-type04:disabled:hover, .btn-type05:disabled:hover, .btn-type06:disabled:hover {
  cursor: default;
}

.link {
  font-size: 14px;
  color: #FFA1AD;
  font-weight: 500;
  text-decoration: underline;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.link:hover {
  color: #FFCCD2;
  text-decoration: underline;
  cursor: pointer;
}

.only-pc {
  display: none !important;
}

.only-mo {
  display: block;
}

@media (min-width: 769px) {
  .only-pc {
    display: block !important;
  }
  .only-mo {
    display: none !important;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 56px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #90A1B9;
  border-bottom: 1px solid #314158;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 769px) {
  .header {
    padding-right: 24px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0;
    position: relative;
    z-index: 10;
  }
}
@media (min-width: 769px) {
  .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-title {
  font-size: 16px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 769px) {
  .header-title {
    width: 325px;
    padding: 16px 24px;
  }
}
@media (max-width: 768px) {
  .header-title {
    padding: 0 24px;
  }
}
.header-menu {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
@media (min-width: 769px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-menu li {
  border-left: 1px solid #314158;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.header-menu li:last-child {
  border-right: 1px solid #314158;
}
.header-menu li.is-active {
  color: #F8FAFC;
  font-weight: 700;
  border-bottom: 3px solid #FFB86A;
}
.header-menu li:hover, .header-menu li:focus, .header-menu li:active {
  color: #F8FAFC;
  font-weight: 700;
}
.header-menu li .tab {
  padding: 16px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-contact {
  display: none;
  border-left: 1px solid #314158;
  padding: 16px 0 16px 24px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
@media (min-width: 769px) {
  .header-contact {
    display: block;
  }
}
.header-contact:hover, .header-contact:active, .header-contact:focus {
  color: #F8FAFC;
  font-weight: 700;
}
.header-contact .contact-link {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .header-right {
    width: 56px;
    height: 100%;
  }
}
.header-right .menu-btn {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .header-right .menu-btn {
    display: block;
  }
}
.header-right .menu-btn i {
  font-size: 18px;
}
.header-right .menu-btn .open {
  display: block;
}
.header-right .menu-btn .close {
  display: none;
}
.header-right .menu-btn.is-open .open {
  display: none;
}
.header-right .menu-btn.is-open .close {
  display: block;
}
.header .nav {
  height: 100dvh;
  background-color: #0F172B;
  position: absolute;
  top: 56px;
  left: 0;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 769px) {
  .header .nav {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .header .nav {
    width: 100%;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@media (max-width: 768px) {
  .header .nav.is-open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.header .nav-list li {
  border-bottom: 1px solid #314158;
}
.header .nav-list li.is-active .tab {
  color: #F8FAFC;
}
.header .nav .tab {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 16px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .nav .tab:focus, .header .nav .tab:active {
  color: #F8FAFC;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 56px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #90A1B9;
  border-top: 1px solid #314158;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 769px) {
  .footer {
    background-color: #0F172B;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.footer-title {
  height: 100%;
  border-right: 1px solid #314158;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 769px) {
  .footer-title {
    line-height: 56px;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .footer-title {
    width: 50%;
    padding: 16px 24px;
  }
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .footer-social {
    width: 50%;
  }
}
.footer-social .social-link {
  border-right: 1px solid #314158;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
@media (min-width: 769px) {
  .footer-social .social-link {
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .footer-social .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-social .social-link:last-child {
    border-right: 0;
  }
}
.footer-social .social-link i {
  font-size: 24px;
}
.footer-social .social-link:hover {
  color: #F8FAFC;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #020618;
  overflow: hidden;
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .main {
    padding: 24px 16px;
  }
}
.main .wrap {
  width: 100%;
  height: 100%;
  background-color: #0F172B;
  border: 1px solid #314158;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.main .wrap #content-container {
  width: 100%;
  height: 100%;
}
.main .footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .copyright {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  color: #62748E;
  position: absolute;
  bottom: 40px;
  left: 75px;
}
@media (max-width: 768px) {
  .main .copyright {
    bottom: 3px;
    left: 16px;
  }
  .main .copyright span {
    display: none;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .content {
    -webkit-transform: translateY(-56px);
            transform: translateY(-56px);
  }
}
.content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 45%;
  height: 100%;
}
@media (max-width: 768px) {
  .content-title {
    width: 100%;
    background: url("/static/img/main/background-blurs.png") no-repeat center;
    background-size: cover;
    padding: 0 24px;
  }
}
.content-title .title-wrap {
  -webkit-transform: translateY(-56px);
          transform: translateY(-56px);
}
.content-title .title {
  font-family: "Fira Code", monospace;
}
.content-title .title__name {
  font-size: 60px;
  color: #F8FAFC;
}
@media (max-width: 768px) {
  .content-title .title__name {
    font-size: 48px;
  }
}
.content-title .title__job {
  font-size: 30px;
  color: #615FFF;
}
@media (max-width: 768px) {
  .content-title .title__job {
    font-size: 20px;
    color: #7C86FF;
  }
}
.content-title .sub-title {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  word-break: keep-all;
  margin-top: 75px;
}
@media (max-width: 768px) {
  .content-title .sub-title {
    font-size: 14px;
    margin-top: 15%;
  }
}
.content-title .sub-title__text {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  color: #90A1B9;
}
.content-title .sub-title__code {
  color: #F8FAFC;
  margin-top: 8px;
}
.content-title .sub-title__code .rose {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}
.content-code {
  display: none;
  width: 55%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 769px) {
  .content-code {
    display: block;
  }
}
.content-code .code-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: url("/static/img/main/background-blurs.png") no-repeat 0 0;
  background-size: contain;
}
.content-code .code {
  width: 560px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
.content-code .code-box {
  width: 100%;
  height: auto;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  color: #F8FAFC;
  background-color: #020618;
  border-radius: 8px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-code .code-box .indent {
  padding-left: 20px;
}
.content-code .code-box + .code-box {
  margin-top: 16px;
}
.content-code .code-box[data-opacity="1"] {
  opacity: 0.1;
}
.content-code .code-box[data-opacity="2"] {
  opacity: 0.2;
}
.content-code .code-box[data-opacity="3"] {
  opacity: 0.3;
}
.content-code .code-box[data-opacity="4"] {
  opacity: 0.4;
}
.content-code .code-box[data-opacity="5"] {
  opacity: 0.5;
}
.content-code .code-box[data-opacity="6"] {
  opacity: 0.6;
}
.content-code .code-box[data-opacity="7"] {
  opacity: 0.7;
}
.content-code .code-box[data-opacity="8"] {
  opacity: 0.8;
}
.content-code .code-box[data-opacity="9"] {
  opacity: 0.9;
}
.content-code .code-box[data-opacity="10"] {
  opacity: 1;
}
.content .indigo {
  color: #615FFF;
}
.content .teal {
  color: #00D5BE;
}
.content .rose {
  color: #FFA1AD;
}
.content .yellow {
  color: #F0B100;
}

.about {
  width: 100%;
  height: 100%;
}
.about-menu {
  width: 325px;
  height: 100%;
  border-right: 1px solid #314158;
}
.about-menu__list {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #F8FAFC;
}