<!-- hello -->
<section class="content">
    <section class="content-title">
        <article class="title-wrap">
            <div class="title">
                <p class="title__name">HYNA's Portfolio</p>
                <span class="title__job">> Web Publisher /<br class="only-mo"> UX developer</span>
            </div>

            <div class="sub-title">
                <span class="sub-title__text">
                    // JSP부터 React까지 다양한 환경에서<br>
                    // 시맨틱하고 구조적인 마크업을 구현해왔습니다.
                </span>
                <p class="sub-title__code">
                    <span class="indigo">const</span> <span class="teal">hyna</span> =
                    <span class="rose">"고객의 시선으로 생각하고 직관적인 UI/UX를 구현하는 웹 퍼블리셔."</span>
                </p>
            </div>
        </article>
    </section>
    <section class="content-code">
        <article class="code-wrap">
            <div class="code">
                <div class="code-box" data-opacity="2">
                    <span class="indigo">const</span> <span class="teal">user</span> = <span class="yellow">{</span> <br>
                    <div class="indent">
                        <span class="indigo">role</span>: <span class="rose">['Web publisher', 'UX developer', 'Front-end developer']</span>, <br>
                        <span class="indigo">focus</span>: <span class="rose">['UI', 'UX', 'Accessibility', 'Semantic Markup']</span>, <br>
                        <span class="indigo">stack</span>: <span class="rose">['HTML', 'CSS', 'SCSS', 'Javascript', 'React']</span> <br>
                    </div>
                    <span class="yellow">}</span>;
                </div>

                <div class="code-box" data-opacity="4">
                    <span class="indigo">const</span> <span class="teal">user</span> = <span class="yellow">{</span> <br>
                    <div class="indent">
                        <span class="indigo">role</span>: <span class="rose">['Web publisher', 'UX developer', 'Front-end developer']</span>, <br>
                        <span class="indigo">focus</span>: <span class="rose">['UI', 'UX', 'Accessibility', 'Semantic Markup']</span>, <br>
                        <span class="indigo">stack</span>: <span class="rose">['HTML', 'CSS', 'SCSS', 'Javascript', 'React']</span> <br>
                    </div>
                    <span class="yellow">}</span>;
                </div>

                <div class="code-box" data-opacity="9">
                    <span class="indigo">const</span> <span class="teal">user</span> = <span class="yellow">{</span> <br>
                    <div class="indent">
                        <span class="indigo">role</span>: <span class="rose">['Web publisher', 'UX developer', 'Front-end developer']</span>, <br>
                        <span class="indigo">focus</span>: <span class="rose">['UI', 'UX', 'Accessibility', 'Semantic Markup']</span>, <br>
                        <span class="indigo">stack</span>: <span class="rose">['HTML', 'CSS', 'SCSS', 'Javascript', 'React']</span> <br>
                    </div>
                    <span class="yellow">}</span>;
                </div>

                <div class="code-box" data-opacity="4">
                    <span class="indigo">const</span> <span class="teal">user</span> = <span class="yellow">{</span> <br>
                    <div class="indent">
                        <span class="indigo">role</span>: <span class="rose">['Web publisher', 'UX developer', 'Front-end developer']</span>, <br>
                        <span class="indigo">focus</span>: <span class="rose">['UI', 'UX', 'Accessibility', 'Semantic Markup']</span>, <br>
                        <span class="indigo">stack</span>: <span class="rose">['HTML', 'CSS', 'SCSS', 'Javascript', 'React']</span> <br>
                    </div>
                    <span class="yellow">}</span>;
                </div>

                <div class="code-box" data-opacity="2">
                    <span class="indigo">const</span> <span class="teal">user</span> = <span class="yellow">{</span> <br>
                    <div class="indent">
                        <span class="indigo">role</span>: <span class="rose">['Web publisher', 'UX developer', 'Front-end developer']</span>, <br>
                        <span class="indigo">focus</span>: <span class="rose">['UI', 'UX', 'Accessibility', 'Semantic Markup']</span>, <br>
                        <span class="indigo">stack</span>: <span class="rose">['HTML', 'CSS', 'SCSS', 'Javascript', 'React']</span> <br>
                    </div>
                    <span class="yellow">}</span>;
                </div>
            </div>
        </article>
    </section>
</section>
