@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

// contents
.content {
    display: flex;
    width: 100%;
    height: 100%;
    @include device.mo {
        transform: translateY(-56px);
    }
    
    &-title {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-end;
        width: 45%;
        height: 100%;
        @include device.mo {
            width: 100%;
            background: url('/static/img/main/background-blurs.png') no-repeat center;
            background-size: cover;
            padding: 0 $spacing-6;
        }

        .title-wrap {
            transform: translateY(-56px);
        }

        .title {
            font-family: $font-en;

            &__name {
                font-size: $heading-h1;
                @include device.mo {
                    font-size: $heading-h2;
                }
                color: $slate-50;
            }

            &__job {
                font-size: $heading-h4;
                color: $secondary-indigo;
                @include device.mo {
                    font-size: $heading-h6;
                    color: $indigo-400;
                }
            }
        }

        .sub-title {
            font-family: $font-en;
            font-size: $body-md;
            word-break: keep-all;
            margin-top: 75px;
            @include device.mo {
                font-size: $body-sm;
                margin-top: 15%;
            }

            &__text {
                font-family: $font-kr;
                color: $slate-400;
            }

            &__code {
                color: $slate-50;
                margin-top: $spacing-3;

                .rose {
                    font-family: $font-kr;
                }
            }
        }
    }

    &-code {
        display: none;
        @include device.pc {
            display: block;
        }
        width: 55%;
        height: 100%;
        overflow: hidden;

        .code-wrap {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: url('/static/img/main/background-blurs.png') no-repeat 0 0;
            background-size: contain;
        }

        .code {
            width: 560px;
            transform: translateY(-100px);

            &-box {
                width: 100%;
                height: auto;
                font-family: $font-en;
                font-size: $body-sm;
                color: $slate-50;
                background-color: $slate-950;
                border-radius: $radius-3;
                padding: $spacing-6;
                box-sizing: border-box;

                .indent {
                    padding-left: 20px;
                }

                + .code-box {
                    margin-top: 16px;
                }

                @for $i from 1 through 10 {
                    &[data-opacity='#{$i}'] {
                        opacity: $i * 0.1;
                    }
                }
            }
        }
    }

    .indigo {
        color: $secondary-indigo;
    }

    .teal {
        color: $secondary-teal;
    }

    .rose {
        color: $secondary-rose;
    }

    .yellow {
        color: $semantic-info;
    }
}