@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $slate-950;
    overflow: hidden;
    overflow-y: auto;
    @include device.mo {
        padding: $spacing-5;
        box-sizing: border-box;
    }

    .wrap {
        width: 1780px;
        height: 900px;
        @include device.mo {
            width: 100%;
            height: 100%; 
        }
        background-color: $slate-900;
        border: 1px solid $slate-700;
        border-radius: $radius-3;
        box-sizing: border-box;
    }
}