@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    font-family: $font-en;
    font-size: $body-md;
    color: $slate-400;
    border-top: 1px solid $slate-700;
    @include device.pc {
        padding: 0 $spacing-6;
    }
    box-sizing: border-box;
    overflow: hidden;

    &-left {
        display: flex;
        flex-flow: row wrap;

        .copyright {
            margin-right: 20px;
            padding: $spacing-5 0;
            box-sizing: border-box;

           i {
                margin-right: 3px;
            } 
        }

        .footer-social {
            display: flex;
            flex-flow: row wrap;

            .social-link {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                border-left: 1px solid $slate-700;
                padding: $spacing-5 $spacing-7;
                box-sizing: border-box;
                transition: ease-in-out .3s;

                i {
                    font-size: $heading-h4;
                }

                &:last-child {
                    border-right: 1px solid $slate-700;
                }

                &:hover {
                    color: $slate-50;
                }
            }
        }
    }

    &-right {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .social-link {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            border-left: 1px solid $slate-700;
            padding: $spacing-5 0 $spacing-5 $spacing-6;
            box-sizing: border-box;
            transition: ease-in-out .3s;

            i {
                font-size: $heading-h4;
                margin-left: 10px;
            }

            &:hover {
                color: $slate-50;
            }
        }
    }

    @include device.mo {
        &-social {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .social-link {
            width: calc(100%/3);
            height: auto;
            text-align: center;
            padding: 18px;
            box-sizing: border-box;

            i {
                font-size: $heading-h5;
            }

            &:nth-child(2) {
                border: {
                    left: 1px solid $slate-700;
                    right: 1px solid $slate-700;
                };
            }
        }

        .copyright {
            width: 100%;
            font-size: $body-sm;
            text-align: center;
            border-top: 1px solid $slate-700;
        }
    }
}