@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

.footer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 56px;
    font-family: $font-en;
    font-size: $body-md;
    color: $slate-400;
    border-top: 1px solid $slate-700;
    box-sizing: border-box;
    @include device.pc {
        background-color: $slate-900;
        border-bottom-left-radius: $radius-3;
        border-bottom-right-radius: $radius-3;
    }

    &-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &-title {
        height: 100%;
        border-right: 1px solid $slate-700;
        @include device.pc {
            line-height: 56px;
            padding: 0 $spacing-6;
        }
        @include device.mo {
            width: 50%;
            padding: $spacing-5 $spacing-6;
        }
        box-sizing: border-box;
    }

    &-social {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 100%;
        @include device.mo {
            width: 50%;
        }

        .social-link {
            border-right: 1px solid $slate-700;
            box-sizing: border-box;
            transition: ease-in-out .3s;
            @include device.pc {
                padding: $spacing-5;
            }
            @include device.mo {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                height: 100%;
                flex: 1;

                &:last-child {
                    border-right: 0;
                }
            }

            i {
                font-size: $heading-h5;
            }

            &:hover {
                color: $slate-50;
            }
        }
    }
}