@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    font-family: $font-en;
    font-size: $body-md;
    color: $slate-400;
    border-bottom: 1px solid $slate-700;
    box-sizing: border-box;
    @include device.pc {
        padding-right: $spacing-6;
    }
    @include device.mo {
        padding: $spacing-5 0;
        position: relative;
        z-index: 10;
    }

    &-left {
        @include device.pc {
            display: flex;
        }
    }

    &-title {
        font-size: $body-md;
        font-weight: normal;

        @include device.pc {
            width: 325px;
            padding: $spacing-5 $spacing-6;
        }
        @include device.mo {
            padding: 0 $spacing-6;
        }
        box-sizing: border-box;
    }

    &-menu {
        display: none;
        @include device.pc {
            display: flex;
        }
        flex-flow: row wrap;

        li {
            border-left: 1px solid $slate-700;
            transition: ease-in-out .3s;

            &:last-child {
                border-right: 1px solid $slate-700;
            }

            &.is-active {
                color: $slate-50;
                font-weight: 700;
                border-bottom: 3px solid $primary;
            }

            &:hover,
            &:focus,
            &:active {
                color: $slate-50;
                font-weight: 700;
            }

            .tab {
                padding: $spacing-5 $spacing-7;
                box-sizing: border-box;
            }
        }
    }

    &-contact {
        display: none;
        @include device.pc {
            display: block;
        }
        border-left: 1px solid $slate-700;
        padding: $spacing-5 0 $spacing-5 $spacing-6;
        transition: ease-in-out .3s;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            color: $slate-50;
            font-weight: 700;
        }

        .contact-link {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &-right {
        @include device.mo {
            width: 56px;
            height: 100%;
        }

        .menu-btn {
            display: none;
            @include device.mo {
                display: block;
            }
            width: 100%;
            height: 100%;
            text-align: center;

            i {
                font-size: 18px;
            }

            .open {
                display: block;
            }

            .close {
                display: none;
            }

            &.is-open {
                .open {
                    display: none;
                }
                
                .close {
                    display: block;
                }
            }
        }
    }
    
    // mo nav
    .nav {
        @include device.pc {
            display: none !important;
        }
        @include device.mo {
            width: 100%;
            display: block;
            visibility: hidden;
            opacity: 0;
            transform: translateY(-20px);
        }
        height: 100dvh;
        background-color: $slate-900;
        position: absolute;
        top: 56px;
        left: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

        @include device.mo {
            &.is-open {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }

        &-list {
            li {
                border-bottom: 1px solid $slate-700;

                &.is-active {
                    .tab {
                        color: $slate-50;
                    }
                }
            }
        }

        .tab {
            display: block;
            width: 100%;
            font-size: $body-md;
            padding: $spacing-5 $spacing-6;
            box-sizing: border-box;

            &:focus,
            &:active {
                color: $slate-50;
            }
        }
    }
}