@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    font-family: $font-en;
    font-size: $body-md;
    color: $slate-400;
    border-bottom: 1px solid $slate-700;
    box-sizing: border-box;
    overflow: hidden;
    @include device.pc {
        padding: 0 $spacing-6;
    }
    @include device.mo {
        padding: $spacing-5 0;
    }

    &-left {
        @include device.pc {
            display: flex;
        }
    }

    &-title {
        @include device.pc {
            padding: $spacing-5 0;
            margin-right: 128px;
        }
        @include device.mo {
            padding: 0 $spacing-6;
        }
        box-sizing: border-box;
    }

    &-menu {
        display: flex;
        flex-flow: row wrap;

        li {
            border-left: 1px solid $slate-700;
            transition: ease-in-out .3s;

            &:last-child {
                border-right: 1px solid $slate-700;
            }

            &.is-active {
                color: $slate-50;
                font-weight: 700;
                border-bottom: 3px solid $primary;
            }

            &:hover,
            &:focus,
            &:active {
                color: $slate-50;
                font-weight: 700;
            }

            .tab {
                padding: $spacing-5 $spacing-7;
                box-sizing: border-box;
            }
        }
    }

    &-contact {
        border-left: 1px solid $slate-700;
        padding: $spacing-5 0 $spacing-5 $spacing-6;
        transition: ease-in-out .3s;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            color: $slate-50;
            font-weight: 700;
        }

        .contact-link {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &-right {
        @include device.mo {
            width: 56px;
            height: 100%;
        }

        .menu-btn {
            width: 100%;
            height: 100%;

            i {
                font-size: 18px;
            }

            .open {
                display: block;
            }

            .close {
                display: none;
            }

            &.is-open {
                .open {
                    display: none;
                }
                
                .close {
                    display: block;
                }
            }
        }
    }
}