@use '../common/colors' as *;
@use '../common/tokens' as *;
@use '../common/typography' as *;
@use '../common/device' as device;

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $slate-950;
    overflow: hidden;
    padding: 70px;
    @include device.mo {
        padding: $spacing-6 $spacing-5;
    }
    box-sizing: border-box;

    .wrap {
        width: 100%;
        height: 100%; 
        background-color: $slate-900;
        border: 1px solid $slate-700;
        border-radius: $radius-3;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        #content-container {
            width: 100%;
            height: 100%;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .copyright {
        font-family: $font-en;
        font-size: $body-sm;
        color: $slate-500;
        position: absolute;
        bottom: 40px;
        left: 75px;

        @include device.mo {
            bottom: 3px;
            left: $spacing-5;
            span {
                display: none;
            }
        }
    }
}