$alpha-2: 0.02;
$alpha-4: 0.04;
$alpha-6: 0.06;
$alpha-8: 0.08;
$alpha-12: 0.12;
$alpha-14: 0.14;
$alpha-16: 0.16;
$alpha-20: 0.2;
$alpha-24: 0.24;
$alpha-32: 0.32;
$alpha-40: 0.4;

/* Main colors */
/* slate */
$slate-50: #F8FAFC;
$slate-100: #F1F5F9;
$slate-200: #E2E8F0;
$slate-300: #CAD5E2;
$slate-400: #90A1B9;
$slate-500: #62748E;
$slate-600: #45556C;
$slate-700: #314158;
$slate-800: #1D293D;
$slate-900: #0F172B;
$slate-950: #020618;

/* orange */
$orange-50: #FFF7ED;
$orange-100: #FFEDD4;
$orange-200: #FFD6A7;
$orange-300: #FFB86A; //main
$orange-400: #FF8904;
$orange-500: #FF6900;
$orange-600: #F54900;
$orange-700: #CA3500;
$orange-800: #9F2D00;
$orange-900: #7E2A0C;
$orange-950: #441306;

/* teal */
$teal-50: #F0FDFA;
$teal-100: #CBFBF1;
$teal-200: #96F7E4;
$teal-300: #46ECD5;
$teal-400: #00D5BE; //main
$teal-500: #00BBA7;
$teal-600: #009689;
$teal-700: #00786F;
$teal-800: #005F5A;
$teal-900: #0B4F4A;
$teal-950: #022F2E;

/* indigo */
$indigo-50: #EEF2FF;
$indigo-100: #E0E7FF;
$indigo-200: #C6D2FF;
$indigo-300: #A3B3FF;
$indigo-400: #A3B3FF;
$indigo-500: #615FFF; //main
$indigo-600: #4F39F6;
$indigo-700: #432DD7;
$indigo-800: #372AAC;
$indigo-900: #312C85;
$indigo-950: #1E1A4D;

/* purple */
$purple-50: #FAF5FF;
$purple-100: #F3E8FF;
$purple-200: #E9D4FF;
$purple-300: #DAB2FF;
$purple-400: #C27AFF; //main
$purple-500: #AD46FF;
$purple-600: #9810FA;
$purple-700: #8200DB;
$purple-800: #6E11B0;
$purple-900: #59168B;
$purple-950: #3C0366;

/* rose */
$rose-50: #FFF1F2;
$rose-100: #FFE4E6;
$rose-200: #FFCCD2;
$rose-300: #FFA1AD; //main
$rose-400: #FF637E;
$rose-500: #FF2056;
$rose-600: #EC003F;
$rose-700: #C60036;
$rose-800: #A50036;
$rose-900: #8B0836;
$rose-950: #4D0218;

/* Neutral colors */
/* gray */
$gray-50: #FFFFFF;
$gray-100: #F5F5F5;
$gray-200: #E5E5E5;
$gray-300: #D1D5DC;
$gray-400: #D4D4D4;
$gray-500: #A1A1A1;
$gray-600: #737373;
$gray-700: #525252;
$gray-800: #404040;
$gray-900: #171717;
$gray-950: #0A0A0A;

/* gray-alpha */
$gray-alpha-50: rgba($gray-50,$alpha-2);
$gray-alpha-100: rgba($gray-100,$alpha-4);
$gray-alpha-200: rgba($gray-200,$alpha-6);
$gray-alpha-300: rgba($gray-300,$alpha-8);
$gray-alpha-400: rgba($gray-400,$alpha-12);
$gray-alpha-500: rgba($gray-500,$alpha-14);
$gray-alpha-600: rgba($gray-600,$alpha-16);
$gray-alpha-700: rgba($gray-700,$alpha-20);
$gray-alpha-800: rgba($gray-800,$alpha-24);
$gray-alpha-900: rgba($gray-900,$alpha-32);
$gray-alpha-950: rgba($gray-950,$alpha-40);

/* Semantic colors */
/* red */
$red-50: #FEF2F2;
$red-100: #FFE2E2;
$red-200: #FFC9C9;
$red-300: #FFA2A2;
$red-400: #FF6467;
$red-500: #FB2C36; //main
$red-600: #E7000B;
$red-700: #C10007;
$red-800: #9F0712;
$red-900: #82181A;
$red-950: #460809;

/* red-alpha */
$red-alpha-50: rgba($red-50,$alpha-2);
$red-alpha-100: rgba($red-100,$alpha-4);
$red-alpha-200: rgba($red-200,$alpha-6);
$red-alpha-300: rgba($red-300,$alpha-8);
$red-alpha-400: rgba($red-400,$alpha-12);
$red-alpha-500: rgba($red-500,$alpha-14);
$red-alpha-600: rgba($red-600,$alpha-16);
$red-alpha-700: rgba($red-700,$alpha-20);
$red-alpha-800: rgba($red-800,$alpha-24);
$red-alpha-900: rgba($red-900,$alpha-32);
$red-alpha-950: rgba($red-950,$alpha-40);

/* green */
$green-50: #F0FDF4;
$green-100: #DCFCE7;
$green-200: #B9F8CF;
$green-300: #7BF1A7;
$green-400: #05DF72;
$green-500: #00C950; //main
$green-600: #00A63E;
$green-700: #008235;
$green-800: #016630;
$green-900: #0D542B;
$green-950: #032E15;

/* green-alpha */
$green-alpha-50: rgba($green-50,$alpha-2);
$green-alpha-100: rgba($green-100,$alpha-4);
$green-alpha-200: rgba($green-200,$alpha-6);
$green-alpha-300: rgba($green-300,$alpha-8);
$green-alpha-400: rgba($green-400,$alpha-12);
$green-alpha-500: rgba($green-500,$alpha-14);
$green-alpha-600: rgba($green-600,$alpha-16);
$green-alpha-700: rgba($green-700,$alpha-20);
$green-alpha-800: rgba($green-800,$alpha-24);
$green-alpha-900: rgba($green-900,$alpha-32);
$green-alpha-950: rgba($green-950,$alpha-40);

/* yellow */
$yellow-50: #FEFCE8;
$yellow-100: #FEF9C2;
$yellow-200: #FFF085;
$yellow-300: #FFDF20;
$yellow-400: #FDC700;
$yellow-500: #F0B100;
$yellow-600: #D08700;
$yellow-700: #A65F00;
$yellow-800: #894B00;
$yellow-900: #733E0A;
$yellow-950: #432004;

/* yellow-alpha */
$yellow-alpha-50: rgba($yellow-50,$alpha-2);
$yellow-alpha-100: rgba($yellow-100,$alpha-4);
$yellow-alpha-200: rgba($yellow-200,$alpha-6);
$yellow-alpha-300: rgba($yellow-300,$alpha-8);
$yellow-alpha-400: rgba($yellow-400,$alpha-12);
$yellow-alpha-500: rgba($yellow-500,$alpha-14);
$yellow-alpha-600: rgba($yellow-600,$alpha-16);
$yellow-alpha-700: rgba($yellow-700,$alpha-20);
$yellow-alpha-800: rgba($yellow-800,$alpha-24);
$yellow-alpha-900: rgba($yellow-900,$alpha-32);
$yellow-alpha-950: rgba($yellow-950,$alpha-40);

/* role */
$primary : $orange-300;
$secondary-teal : $teal-400;
$secondary-indigo : $indigo-500;
$accent : $purple-400;
$secondary-rose : $rose-300;
$semantic-error : $red-500;
$semantic-success : $green-500;
$semantic-info: $yellow-500;
