// breakpoints
$breakpoint-pc: 768px;

.pc {display: none;}
.mo {display: block;}

@media (min-width: $breakpoint-pc) {
    .pc {display: block;}
    .mo {display: none;}
}

@mixin pc {
    .pc & {@content;}
}

@mixin mo {
    .mo & {@content;}
}