@use './typography' as *;

body {
    min-height: 100dvh; /* 모바일 환경 고려 */
    font-family: $font-kr;
}

html, body, h1, h2, h3, h4, h5, h6, p, 
ul, ol, li, dl, dt, dd, img, button, input, select {
    margin: 0;
    padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:focus, a:hover, 
button:active, button:focus, button:hover {
    text-decoration: unset;
    outline: unset;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}

button {
  all: unset;
  cursor: pointer;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

/* iOS 탭 하이라이트 제거 */
a, button {
  -webkit-tap-highlight-color: transparent;
}