@use './fonts' as *;

$font-kr: 'Pretendard', 'Noto Sans KR', sans-serif;
$font-en: 'Fira Code', monospace;

$body-sm : 14px;
$body-md : 16px;
$body-lg : 18px;

$heading-h6: 20px;
$heading-h5: 24px;
$heading-h4: 30px;
$heading-h3: 36px;
$heading-h2: 48px;
$heading-h1: 60px;